<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-book Reader Content</title>
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" />
</head>

<body>
    {% if navbar %}
    <div class="navbar-menu">
        <div class="row">
            <div class="two columns">
                <div id="mySidenav" class="sidenav">
                    <div class="userprofile" id="userProfile">
                        <div class="row">
                            <div class="three columns">
                                <span class="material-symbols-outlined" id="profile">
                                    account_circle_full
                                </span>
                            </div>
                            <div class="nine columns">
                                <div class="row">
                                    <strong>{{ current_user.username}}</strong>
                                </div>
                                <div>
                                    {%for ereader in ereaders%}
                                    {%if ereader.ereaderuid == current_user.ereaderuid%}
                                    <em>Using {{ereader.short_name}}</em>
                                    <div id="user-ereader" style="display: none;">
                                        {{ereader.short_name}}
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                                <div class="row">
                                    <a href="logout">Log out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="categories" id="showCat">
                        <div class="categoriescollapsed" id="collapsedCat" onclick="expand()">
                            <div class="row">
                                <div class="ten columns">
                                    Category
                                </div>
                                <div class="two columns">
                                    <span class="material-symbols-outlined" id="collapsed">
                                        chevron_right
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="categoriesexpanded" id="expandedCat" onclick="collapse()">
                            <div class="row">
                                <div class="ten columns">
                                    Category
                                </div>
                                <div class="two columns">
                                    <span class="material-symbols-outlined" id="dropped">
                                        expand_more
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% for code, category in lccCode.items() %}
                        <div class="eachcategory" onclick="addCategoryFilter('{{ category }}')">
                            <div class="row" >
                                {{ category }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="fixedpadding"></div>
                </div>
                <span class="material-symbols-outlined" onclick="openNav()" id="menu">
                    menu
                </span>
            </div>
            <div class="ten columns">
                <form action="" id="searchfield">
                    <input class="searchfield" type="search" name="keyword" placeholder="Keyword Search">
                </form>
            </div>
        </div>
    </div>
    <pre></pre>
    <div class="snackbar">
        <p id="snackbar"></p>
    </div>

    <script type="text/javascript" charset="utf-8">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("userProfile").style.visibility = "visible";
            document.getElementById("showCat").style.visibility = "visible";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("userProfile").style.visibility = "hidden";
            document.getElementById("showCat").style.visibility = "hidden";

        }

        function expand() {
            document.getElementById("collapsedCat").style.display = "none";
            document.getElementById("expandedCat").style.display = "block";
            // document.getElementById("eachCat").style.display = "block";
            document.querySelectorAll(".eachcategory").forEach((element) => {
                element.style.display = "block";
            })
        }

        function collapse() {
            document.getElementById("collapsedCat").style.display = "block";
            document.getElementById("expandedCat").style.display = "none";
            document.querySelectorAll(".eachcategory").forEach((element) => {
                element.style.display = "none";
            })
        }

        const updateURLParameter = (url, param, paramVal) => {
            var TheAnchor = null;
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";

            if (additionalURL) {
                var tmpAnchor = additionalURL.split("#");
                var TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];
                if (TheAnchor)
                    additionalURL = TheParams;

                tempArray = additionalURL.split("&");
                for (var i = 0; i < tempArray.length; i++) {
                    if (tempArray[i].split('=')[0] != param) {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
            else {
                var tmpAnchor = baseURL.split("#");
                var TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];

                if (TheParams)
                    baseURL = TheParams;
            }

            if (TheAnchor)
                paramVal += "#" + TheAnchor;

            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }

        document.getElementById('searchfield').addEventListener('submit', event => {
            event.preventDefault()
            const data = Object.fromEntries(new FormData(event.target).entries())
            var url = window.location.origin + '/' + window.location.search
            window.history.replaceState('', '', updateURLParameter(url, "keyword", data.keyword));
            window.location.reload()
        })

        function addCategoryFilter(category){
            var url = window.location.origin + '/' + window.location.search
            window.history.replaceState('', '', updateURLParameter(url, "category", category));
            window.location.reload()
        }

        function showSnackbar(text) {
            var snackbar = document.getElementById("snackbar");
            snackbar.innerHTML = text
            snackbar.className = "show";
            setTimeout(function () {
                snackbar.className = snackbar.className.replace("show", "");
            }, 3000);
        }

    </script>
    {% endif %}
    <div class="hero-body">
        {% block content %}
        {% endblock %}
    </div>

    <!-- <script src="{{ url_for('static', filename='socket.io/socket.io.js')}}"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script> -->
    <script type="text/javascript" charset="utf-8">
        var socket = new WebSocket("{{config['SOCK_PROTOCOL']}}" + window.location.host + '/socket')
        function connect() {
            socket = new WebSocket("{{config['SOCK_PROTOCOL']}}" + window.location.host + '/socket')
        }
        socket.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connect();
            }, 1000);
        };
        socket.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Reconnect will be attempted in 1 second.');
            setTimeout(function() {
                connect();
            }, 1000);
        };
        socket.onopen = (e) => {
            socket.send(JSON.stringify({'event': 'ping'}))
        }
        socket.addEventListener('message', event => {
            const data = JSON.parse(event.data)
            console.log(data)
        })
    </script>
    {% if dashboard %}
    <script type="text/javascript" charset="utf-8">
        socket.onopen = (e) => {
            socket.send(JSON.stringify({'event': 'status_req'}))
        }
        socket.addEventListener('message', event => {
            const data = JSON.parse(event.data)
            if (data['event'] == 'status_res') {
                update('availability', data['ereaderuid'], data['availability'])
                update('connection', data['ereaderuid'], data['connection'])
                update('battery', data['ereaderuid'], data['battery'])
            }
        })
    </script>
    {% endif %}
</body>

</html>