<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-book Reeader Content</title>
    <!-- <link href="{{ url_for('static', filename='fontawesomefree/css/all.min.css') }}" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</head>

<body>
    <div class="navbar-menu">
        <div class="row">
            <div class="one columns">
                <div id="mySidenav" class="sidenav">
                    <div class="userprofile">
                        <span>{{ current_user.email }}</span>
                        <span>{{ current_user.name }}</span>
                        <a href="logout">Log out</a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                    <div class="categorydropdown">
                        Category
                    </div>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
            <div class="six columns">
                <form action="" id="searchfield">
                    <input class="searchfield" type="text" name="keyword" placeholder="Keyword Search">
                </form>
            </div>
        </div>
    </div>
    <pre></pre>
    <div class="hero-body">
        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" charset="utf-8">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        const updateURLParameter = (url, param, paramVal) => {
            var TheAnchor = null;
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";

            if (additionalURL) {
                var tmpAnchor = additionalURL.split("#");
                var TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];
                if (TheAnchor)
                    additionalURL = TheParams;

                tempArray = additionalURL.split("&");
                for (var i = 0; i < tempArray.length; i++) {
                    if (tempArray[i].split('=')[0] != param) {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
            else {
                var tmpAnchor = baseURL.split("#");
                var TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];

                if (TheParams)
                    baseURL = TheParams;
            }

            if (TheAnchor)
                paramVal += "#" + TheAnchor;

            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }

        document.getElementById('searchfield').addEventListener('submit', event => {
            const data = Object.fromEntries(new FormData(event.target).entries())
            window.history.replaceState('', '', updateURLParameter(window.location.origin, "keyword", data.keyword));
        })
    </script>
</body>

</html>