{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>
<div class="devicesstatus">
    <h3>Devices Status</h3>
    
    <div class="row">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>E-Reader</th>
                    <th>Availabilty status</th>
                    <th>Wifi connection</th>
                    <th>Battery</th>
                </tr>
            </thead>
            <tbody>
                {% for device in ereader %}
                <tr>
                    <td>{{device.short_name}}</td>
                    <td id="availability-{{device.ereaderuid}}">Not available</td>
                    <td id="connection-{{device.ereaderuid}}">Offline</td>
                    <td id="battery-{{device.ereaderuid}}">Unknown</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<pre></pre>

<!-- Just in case -->
<!-- <div class="userlog">
    <h3>User Log</h3>
    <div class="row">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Username</th>
                    <th>Device</th>
                    <th>Downloaded Book</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2022-07-11 12:03:03</td>
                    <td>s6100000000000</td>
                    <td>ENG02</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>2022-07-14 16:18:35</td>
                    <td>s6400000000000</td>
                    <td>ENG01</td>
                    <td>[ISBN/ID]</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pre></pre> -->

<!-- Just in case -->
<div class="downloadedstat">
    <h3>Books List</h3>
    <form id="form-action" method="post">
    <div class="row">
        <div class="eight columns">
            <select class="u-full-width" name="select-action" id="select-action"> 
                <option value="addPredownload">add selections to pre-download list</option>
                <option value="removePredownload">remove selections from pre-download list</option>
                <option value="addRecommend">add selections to recommend list</option>
                <option value="removeRecommend">remove selections from recommend list</option>
                <option value="clearRecommend">clear recommend list</option>
                <option value="clearPredownload">clear pre-download list</option>
            </select>
        </div>
        <div class="four columns">
            <input type="submit" class="button-primary" value="Go">
        </div>
    </div>
    <div class="row">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th></th>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Category/Subject</th>
                    <!-- <th>Number of download</th> -->
                    <!-- recommend on web -->
                    <th>Recommended</th>
                    <!-- pre-download and recommend on e-reader -->
                    <th>Pre-download</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>
                        <input type="checkbox" name="select-book" value="{{book.record_id}}">
                    </td>
                    <td>{{book.bib_record_id}}</td>
                    <td class="book title">{{book.best_title}}</td>
                    <td>Unknown Category</td>
                    <!-- <td>15</td> -->
                    <td class="book recommend">
                        <input type="checkbox" disabled="disabled"
                        {% if book.recommend %}
                        checked
                        {% endif %}
                        >
                    </td>
                    <td>
                        <input type="checkbox" disabled="disabled"
                        {% if book.predownload %}
                        checked
                        {% endif %}
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </form>
</div>
<script type="text/javascript" charset="utf-8">
    function update(attribute, uid, value) {
        document.getElementById(attribute + '-' + uid).innerHTML = value
    }
</script>
{% endblock %}