{% extends "base.html" %}

{% block content %}
<!-- <div class="section hero-body"> -->
	<div class="row">
		<h3>{{book.best_title}}</h3>
	</div>
	<div class="row">
		<div class="eight columns">
			<p>{{book.best_author}}</p>
		</div>
		<div class="four columns">
			<span>{{book.publish_year}}</span>
		</div>
	</div>
	<div class="row">
		<div class="bookcover">
			<img src="{{ imageSrc }}" alt="No bookcover">
		</div>
	</div>
	<div class="row">
		<div class="centerbutton">
			<button id="download-btn" onclick="sendDownload()">
				Download to E-Reader
			</button>
		</div>
	</div>
<!-- </div> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
	integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
	crossorigin="anonymous"></script> -->
<script type="text/javascript" charset="utf-8">
	var socket = io.connect(window.location.origin);
	const sendDownload = () => {
		socket.emit('get download url', {
			'record_id': '{{ book.record_id }}',
			'ereaderuid': '{{ current_user.name }}'
		})
	}
</script>
{% endblock %}