{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="sectiondetail">
		<div class="row">
			<h3>{{book.best_title}}</h3>
			{%if book.edition%}<h5>{{book.edition}}</h5>{%endif%}
		</div>
		<div class="row">
			<div class="eleven columns">
				<p>{{book.best_author}}</p>
			</div>
			<div class="one columns">
				<p>{{book.publish_year}}</p>
			</div>
		</div>
		<div class="bookcover">
			<img src="{{ imageSrc }}" alt="No bookcover">
		</div>
		<pre></pre>
		<div class="centerbutton">
			<button id="download-btn" onclick="sendDownload()">
				<span class="material-symbols-outlined">
					file_download
				</span>
				Download to E-Reader
			</button>
		</div>
		<pre></pre>
		<h4>Description</h4>
		{%if book.summary%}
		<div class="row">
			<div class="four columns">
				<strong>Summary</strong>
			</div>
			<div class="eight columns">
				<p>
					{{book.summary}}
				</p>
			</div>
		</div>
		{%endif%}
		{%if book.subject%}
		<div class="row">
			<div class="four columns">
				<strong>Subject</strong>
			</div>
			<div class="eight columns">
				<p>
					{{book.subject}}
				</p>
			</div>
		</div>
		{%endif%}
		{%if book.category%}
		<div class="row">
			<div class="four columns">
				<strong>Category</strong>
			</div>
			<div class="eight columns">
				<p>
					{{book.category}}
				</p>
			</div>
		</div>
		{%endif%}
		{%if book.imprint%}
		<div class="row">
			<div class="four columns">
				<strong>Imprint</strong>
			</div>
			<div class="eight columns">
				<p>
					{{book.imprint}}
				</p>
			</div>
		</div>
		{%endif%}
		{%if book.isbn%}
		<div class="row">
			<div class="four columns">
				<strong>ISBN</strong>
			</div>
			<div class="eight columns">
				<p>
					{{book.isbn}}
				</p>
			</div>
		</div>
		{%endif%}
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	const sendDownload = () => {
		const userEreader = document.getElementById('user-ereader').innerHTML
		showSnackbar('start downloading to ' + userEreader)
		socket.emit('get download url', {
			'record_id': '{{ book.record_id }}',
			'ereaderuid': '{{ current_user.ereaderuid }}'
		})
	}
</script>
{% endblock %}