{% extends "base.html" %}

{% block content %}
{% if keyword|length < 3 and category|length==0 %} <div>keyword too short</div>
  {% elif books|length == 0 %}
  {% if category %}
  <div class="categorytag">
    {{ category }}
    <div href="javascript:void(0)" class="clearcategory" onclick="addCategoryFilter('')">&times;</div>
  </div>
  {% endif %}
  <div>No book matches "{{ keyword }}"</div>
  {% else %}
  {% if category %}
  <div class="categorytag">
    {{ category }}
    <div href="javascript:void(0)" class="clearcategory" onclick="addCategoryFilter('')">&times;</div>
  </div>
  {% endif %}
  <div>{{ booksCount }} book(s) {% if keyword %} match "{{ keyword }}" {% endif %}</div>
  {% for book in books %}
  <div class="container">
    <div class="bookcard">
      <div class="row">
        <div class="five columns" onclick="window.location.href='detail?record_id={{ book.record_id }}'">
          <div class="bookcoverpre">
            <img src="{{ book.imageSrc }}" alt="No bookcover">
          </div>
        </div>
        <div class="five columns" onclick="window.location.href='detail?record_id={{ book.record_id }}'">
          <p><strong>{{ book.best_title}}</strong></p>
          <em>{{ book.best_author}}</em>
          <p>{{ book.publish_year}}</p>
        </div>
        <div class="two columns">
          <div class="downloadbutton">
            <button class="button button-primary" onclick="sendDownload('{{ book.record_id }}')">
              <span class="material-symbols-outlined">
                file_download
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pre></pre>
  {% endfor %}
  {% endif %}
  <script type="text/javascript" charset="utf-8">
    function sendDownload(bookRecordID) {
      const userEreader = document.getElementById('user-ereader').innerHTML
      showSnackbar('start downloading to ' + userEreader)
      socket.emit('get_download_url', {
        'record_id': bookRecordID,
        'ereaderuid': '{{ current_user.ereaderuid }}'
      })
    }
  </script>
  {% endblock %}