{% extends "base.html" %}

{% block content %}
<div class="container">
    {%for ereader in ereaders%}
    <div style="display: none;" id="{{ereader.short_name}}">{{ereader.ereaderuid}}</div>
    {%endfor%}
    <div id="ereaderuid-text"></div>
    <div class="loginbox">
        <img class="liblogo" src=" {{ url_for('static', filename='Logo_lib_2016.png' ) }}"
            alt=" KMUTNB Central Library">
        <strong>Please log in with ICIT account</strong>
        {%if config['DEVELOPMENT']%}
        <form method="POST" id="login-form">
            <div class="row">
                <input class="u-full-width" type="text" name="username" placeholder="Username" autofocus="">
            </div>
            <div class="row">
                <input class="u-full-width" type="password" name="password" placeholder="Password">
            </div>
            <button class="button-primary">Log in</button>
        </form>
        {%endif%}
        <pre></pre>
        <img class="icitlogo" src=" {{ url_for('static', filename='icit_account_logo.png' ) }}"
        alt=" KMUTNB Central Library">
        <a class="button button-primary" id="icit-login-btn" href="">
            LOG IN
        </a>
        <p>All downloadable resources from KMUTNB Central Library are reserved for students and personnel of King
            Mongkut’s University of Technology
            North Bangkok.</p>
        <!-- <p>This is a part of Computer Engineering Thesis</p> -->
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    const shortName = window.location.search.split('uid=')[1]
    const ereaderuid = document.getElementById(shortName)?.textContent
    var displayText = 'UID :  '
    displayText += shortName ? shortName : 'Not found'
    document.getElementById('ereaderuid-text').innerHTML = displayText
    document.getElementById('icit-login-btn').href = "{{config['AUTH_PAGE_URL']}}?token={{config['TOKEN']}}&xsid=" + ereaderuid
</script>
{%if config['DEVELOPMENT']%}
<script type="text/javascript" charset="utf-8">
    document.getElementById('login-form').action = '/login?ereaderuid=' + ereaderuid
</script>
{%endif%}
{% endblock %}