{% extends "base.html" %}

{% block content %}
<div class="container">
    {%for ereader in ereaders%}
        <div style="display: none;" id="{{ereader.short_name}}">{{ereader.ereaderuid}}</div>
    {%endfor%}
    <div id="ereaderuid-text"></div>
    <div class="loginbox">
        <img src=" {{ url_for('static', filename='temp_lib_logo.png' ) }}" alt=" KMUTNB Central Library">
        <strong>Please log in with ICIT account</strong>
        <form method="POST" id="login-form">
            <div class="row">
                <input class="u-full-width" type="text" name="username" placeholder="Username" autofocus="">
            </div>
            <div class="row">
                <input class="u-full-width" type="password" name="password" placeholder="Password">
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="loginwarning">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <button class="button-primary">Log in</button>
            <a id="icit-login-btn" href="">login with ICIT</a>
        </form>
        <p>All downloadable resources from KMUTNB Central Library are reserved for students and personnel of King
            Mongkut’s University of Technology
            North Bangkok.</p>
        <!-- <p>This is a part of Computer Engineering Thesis</p> -->
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    const shortName = window.location.search.split('uid=')[1]
    const ereaderuid = document.getElementById(shortName)?.textContent
    var displayText = 'UID :  '
    displayText += shortName ? shortName : 'Not found'
    document.getElementById('ereaderuid-text').innerHTML = displayText
    document.getElementById('login-form').action = '/login?ereaderuid=' + ereaderuid
    document.getElementById('icit-login-btn').href = "{{config['AUTH_PAGE_URL']}}?token={{config['TOKEN']}}&xsid=" + ereaderuid
</script>
{% endblock %}