body {
    background-color: #f1f1f1;
    width: auto;
}

.navbar-menu {
    background-color: #33C3F0;
    color: #FFFFFF;
    margin: -10px;
    /* position: relative; */
    padding-top: 1rem;
    padding-left: 2rem;
}

.navbar-menu input {
    min-width: 90%;
    margin-top: 1rem;
    margin-bottom: -2.5rem;
}

.sidenav {
    background-color: #FFFFFF;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    background-color: #FFFFFF;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.userprofile {
    width: 100%;
    background-color: #FFFFFF;
}

.container {
    background-color: #FFFFFF;
    border-radius: 2px;
}

.backtoindex {
    padding: 1rem;
}

.sectiondetail {
    background-color: #FFFFFF;
    padding: 2rem;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.centerbutton {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookcoversmall img {
    width: 90px;
    height: 120px;
    padding: 10px;
}

.bookcover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}